@import '@carbon/themes/scss/themes';


//@include theme($theme--g100);
// $theme: $theme--g10;

// Use the gray 10 theme
// @include theme();

.App {
  text-align: center;
 // background-color: $theme--g10;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.centerContent {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  color: black;
}

.viewTodo {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
  color: black;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
